/*FONTES: 
Poetsen One (titulos)
Sofia Pro (textos)
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    color: white;
    font-size: 12px;
    overflow-x: hidden;
    background: #212121;    
}

.center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.mainContainer{
    max-width: 80vw;    /*80%*/
    margin: 0 auto;
    position: relative;
}


/*========SEÇÃO DE APRESENTAÇÃO========*/
.apresentation{
    height: 100vh;  /*100%*/
    position: relative;
    display: flex;
    flex-flow: column wrap;
}

.navBar{
    text-align: center;
    display: none;
}

.myLinks{
    position: absolute;
    right: 5%;  /*40px*/
    top: 6rem;  /*100px*/
    word-spacing: 80px; /*ESPAÇO ENTRE AS PALAVRAS*/
}

.myLinks a{
    font-family: 'Sofia Pro';
    font-size: 2.5rem; /*30px*/
    text-decoration: none;
    color: #20D5EC;
}

#tiktokL{
    position: absolute;
    top: 34%;
    left: 32%;
    transform: translateY(-34%);
    width: 6rem;
}

.wrapTextApresentation{
    /* left: 5%; */
    display: flex;
    text-align: left;
    align-items: flex-end;
    font-family: 'Poetsen One';
    font-size: 4rem;            /*ADAPTAR O TAMANHO DO TEXTO QUANDO FOR FAZER O RESPONSIVO*/
    max-width: 60%;
    /* background-color: #949494; */
}

.wrapTextApresentation p{
    position: absolute;
    top: 100%;
    margin-top: 8%;
    font-family: 'Sofia Pro';
    font-size: 2.5rem;
    color: #949494;
}

.btnHireMe{
    position: absolute;
    top: 150%;
    font-size: 2.2rem;
    border-radius: 0.6rem;
    padding: 2%;
    background-color: transparent;
    border: 0.25rem solid #20D5EC;
    cursor: pointer;
    max-width: 100%;
}

.btnHireMe a{
    color: #20D5EC;
}

.person1{
    right: 0;
    max-width: 40%;
}

.person1 img{
    max-width: 40rem;
}
/*========================================================*/

/*=======ABOUT ME=========*/

.aboutMe{
    height: 100vh;
    position: relative;
}

.person2{
    position: absolute;
    max-width: 40%;
}

.person2 img{
    width: 110%;
}

#tiktokAboutMe{
    width: 28vw;
}

.wrapTextAboutMe{
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 55%;
    text-align: center;
    align-items: flex-end;
}

.wrapTextAboutMe p{
    /* margin: -4% 0 6% 0; */
    font-size: 3rem;
    line-height: 4rem;
    text-align: left;
    font-family: 'Sofia Pro';
}

.wrapIconsSocial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8% 0;
    max-width: 50%;
}

.btnDownloadCV{
    margin: -8% 0;
    font-size: 3rem;
    padding: 2%;
    border-radius: 10px;
    background-color: transparent;
    border: 4px solid #20D5EC;
    cursor: pointer;
    max-width: 50%;
}

.btnDownloadCV a{
    color: #20D5EC;
}

/*========================================================*/

/*==========WORKS=========*/
.works{
    height: 100vh;
}

.tiktokWorks{
    width: 28vw;
    position: absolute;
    left: 5%;
}

.glide{
    padding: 14% 2%;
    background-size: cover;
}

.glide__slide img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.glide__slide{
    width: 30vw;
    height: 70vh;
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
    
}

.glide__slide--active{
    opacity: 1;
    filter: none;
    transform: scale(1.1);
}

.glide__slides{
    overflow: visible;
}
/*========================================================*/

/*========SKILLS & EXPERIENCE=========*/
.skillsExperience{
    height: 100vh;
    position: relative;
}

.wrapTextSkillsExperience{
    max-width: 70%;
    text-align: center;
}

.wrapTextSkillsExperience p{
    margin: 0 5%;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: left;
    font-family: 'Sofia Pro';
}

#tiktokSkillsExperience{
    width: 28vw;
    margin-left: -20%;
}

.wrapIconsSkillsExperience{
    max-width: 30%;
    position: absolute;
    right: 5%;
    top: 15%;
}

.wrapIconsSkillsExperience ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.wrapIconsSkillsExperience ul li{
    margin: 5% 5%;
}

/*========================================================*/

/*=======CONTACT ME=========*/
.contactMe{
    height: 100vh;
    position: relative;
}


#tiktokContact{
    width: 28vw;
    position: absolute;
    left: 5%;
}

.wrapFormContactMe p{
    width: 45%;
    font-size: 1.5vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 5%;
    /* transform: translateY(-20%); */
    /* margin: 2% 0; */
    font-family: 'Sofia Pro';
}

.wrapFormContactMe form{
    position: absolute;
    top: 50%;
    /* left: 5%; */
    margin-top: 3%;
    transform: translateY(-50%);
}

.wrapFormContactMe form input[type=text], input[type=subject], input[type=email], textarea{
    font-family: 'Sofia Pro';
    font-size: 1.2rem;
    background-color: #2B2B2B;
    font-weight: bolder;
    padding: 2%;
    border: none;
    color: white;
}

.wrapFormContactMe form input[type=text]{
    width: 45%;
    max-width: 50%;
    margin-top: 2%;
    height: 50px;
    line-height: 50px;
}

.wrapFormContactMe form input[type=subject]{
    width: 93%;
    max-width: 100%;
    margin-top: 3%;
    height: 50px;
    line-height: 50px;
}

.wrapFormContactMe form input[type=email]{
    width: 45%;
    max-width: 50%;
    margin: 3% 0 0 3%;
    height: 50px;
    line-height: 50px;
}

.wrapFormContactMe form textarea{
    width: 93%;
    margin-top: 3%;
    height: 240px;
    resize: none;
}


.wrapFormContactMe form input[type=submit]{
    position: absolute;
    right: 0;
    bottom: -20%;
    width: 30%;
    margin-right: 7%;
    font-size: 2.5rem;
    font-weight: lighter;
    color: #20D5EC;
    padding: 1.2%;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #20D5EC;
    cursor: pointer;
}

.wrapMap{
    float: right;
    width: 50%;
}

.wrapMap2{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

/*========================================================*/

/*============FOOTER==============*/

footer{
    border-top: 1px solid #20D5EC;
    height: 20vh;
}

.wrapIconsSocialFooter{
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    max-width: 30%;
}

.wrapIconsSocialFooter a{
    margin-top: 5%;
}

.tittleFooter{
    margin: 1.5% auto auto auto;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Poetsen One';
    max-width: 30%;
}

/*===========================================================================================*/

/*=========================MEDIA QUERIES===============================*/
/*
mobile - 375px
tablet - 768 px
laptop - 1280px
*/

@media screen and (max-width: 360px) { /* ANDROID*/
    
    /*========APRESENTATION========*/
    #tiktokL {
        left: 61% !important;
        width: 3.7rem !important; 
    }

    .wrapTextApresentation{
        font-size: 2.5rem !important;
    }

    .btnHireMe{
        margin-top: 12% !important;
    }
    
    .person1 img{
        width: 72% !important;
        position: absolute !important;
        left: 50%;
        transform: translateX(-50%); 
        margin-top: 16vh !important;
        padding: 0 !important;
    }

    /*========ABOUT ME========*/
    .aboutMe{
        height: 205vh !important;
    }
    
    #tiktokAboutMe{
        margin-top: 5% !important;
    }

    .person2{
        top: 34% !important;
        max-width: 68% !important;
    }

    .wrapIconsSocial{
        top: 43vh !important;
    }

    /*========WORKS=========*/
    .works{
        height: 90vh !important;
    }

    .glide__slide{
        width: 90vw !important;
        height: 70vh !important;
    }

    /*========SKILLS & EXPERIENCE=========*/
    .skillsExperience{
        height: 205vh !important;
    }

    /*=======CONTACT ME=========*/
    .contactMe{
        height: 210vh !important;
    }

    .wrapFormContactMe form{
        top: 45vh !important;
    }
    
    .wrapMap2{
        top: 135vh !important;
        width: 185% !important; 
    }

    /*============FOOTER==============*/

    footer{
        height: 25vh !important;
    }
}

@media screen and (max-width: 375px) { /*MOBILE M // IPHONE*/
    .mainContainer{
        max-width: 90vw;    /*90%*/
        margin: 0 auto;
    }
    
    .center{
        position: relative;
        top: 15%;
        transform: translateY(-20%);
    }

    /*========APRESENTATION========*/
   
    #tiktokL{
        top: 37%;
        transform: translateY(-37%);
        left: 64%;
        width: 4rem;
    }

    .wrapTextApresentation{
        font-size: 2.7rem;
        display: flex;
        align-items: center;
        text-align: left;
    }

    .wrapTextApresentation p{
        position: absolute;
        width: 100%;
        top: 100%;
        font-size: 2.2rem;
    }

    .btnHireMe{
        position: absolute;
        top: 130%;
        padding: 5%;
        margin-top: 25%;
        font-size: 1.8rem;
        cursor: pointer;
    }
    
    .person1{
        max-width: 100%;
    }
    
    .person1 img{
        width: 100%;
        position: absolute;
        margin-top: 16vh;
        padding: 0;
    }


    /*=====HAMBURGUER MENU=====*/
    .container {
        width: 100vw;    
    }
    
    .navBar {
        position: relative;
        display: block;
    }

    .heading a:nth-child(1) {
        color: #20D5EC;
        text-decoration: none;
        font-size: 3rem;
        display: block;
        padding: 10px;
    }

    .heading a i {
        color: #20D5EC;
        padding: 20px ;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10000;
    }

    .myLinks {
        display: none;
        top: 0;
        left: 20;
        background-color: #2B2B2B;
        width: 100%;    
        z-index: 1000;
    }

    .myLinks a {
        color: #20D5EC;
        padding: 10px 0;
        margin: 12% 10%;
        text-decoration: none;
        font-size: 4rem;
        display: block;
        text-align: center;
        border-bottom: 4px solid hsla(0, 0%, 7%, 0.3);
    }

    /*========ABOUT ME========*/
    .aboutMe{
        height: 170vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
    }
    
    .person2{
        /* position: relative; */
        top: 34%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 70%;
    }
    
    #tiktokAboutMe{
        margin-top: 5%;
        width: 60vw;
    }
    
    .wrapTextAboutMe{
        position: absolute;
        max-width: 100%;
    }
    
    .wrapTextAboutMe p{
        font-size: 2.2rem;
        line-height: 3.5rem;
        text-align: justify;
    }

    .wrapTextAboutMe p:nth-of-type(2) {
        position: relative;
        top: 25vh;
    }
    
    .wrapIconsSocial{
        position: relative;
        top: 38vh;
        max-width: 100vw;
    }
    
    .btnDownloadCV{
        position: relative;
        top: 18vh;
        left: 1vh;
        max-width: 100vw;
        cursor: pointer;
    }

    /*========WORKS=========*/
    .works{
        height: 75vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
        /* margin-bottom: 50%; */
    }
    
    .tiktokWorks{
        position: relative;
        width: 60vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .glide{
        top: -8%;
    }

    .glide__slide{
        width: 90vw;
        height: 60vh;
    }

    /*========SKILLS & EXPERIENCE=========*/
    .skillsExperience{
        height: 155vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
        margin-bottom: 15%;
    }
    
    .wrapTextSkillsExperience{
        position: relative;
        max-width: 100%;
    }
    
    .wrapTextSkillsExperience p{
        font-size: 2.2rem;
        line-height: 3.5rem;
        text-align: justify;
    }
    
    #tiktokSkillsExperience{
        margin-top: 15%;
        width: 60vw;
        position: relative;
        left: 30%;
        transform: translateX(-30%);
    }
    
    .wrapIconsSkillsExperience{
        position: relative;
        top: 0;
        left: 0;
    }
    
    .wrapIconsSkillsExperience ul{
        text-align: center;
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        width: 90vw;
    }
    
    .wrapIconsSkillsExperience ul li{
        margin: 2% 5%;
        margin-bottom: 5%;
    }

    .wrapIconsSkillsExperience ul li img{
        width: 11vw;
    }
    
    /*=======CONTACT ME=========*/
    .contactMe{
        height: 170vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
        margin-top: 5%;
    }
    
    #tiktokContact{
        width: 60vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .wrapFormContactMe p{
        width: 100%;
        font-size: 2.2rem;
        margin-top: 28%;
        text-align: justify;
    }
    
    .wrapFormContactMe form{
        top: 35vh;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .wrapFormContactMe form input[type=text], input[type=subject], input[type=email], textarea{   
        font-size: 2.2rem;
        padding: 5%;
    }
    
    .wrapFormContactMe form input[type=text]{
        width: 90vw;
        max-width: 90vw;
        margin-top: 5%;
    }
    
    .wrapFormContactMe form input[type=subject]{
        width: 90vw;
        max-width: 90vw;
        margin-top: 5%;
    }
    
    .wrapFormContactMe form input[type=email]{
        width: 90vw;
        max-width: 90vw;
        margin: 5% 0 0 0;
    }
    
    .wrapFormContactMe form textarea{
        width: 90vw;
        margin-top: 5%;
        height: 25vh;
    }
    
    
    .wrapFormContactMe form input[type=submit]{
        width: 90vw;
        left: 0;
        font-size: 3rem;
        padding: 2.2%;
        color: white;
        background-color: #20D5EC;
        border: 3px solid #1aa5b8;  
    }

    .gmap_canvas .mapouter{
        width: 90vw;
        height: 40rem;
    }

    .gmap_canvas iframe{
        border-radius: 1rem;
        width: 90vw;
        height: 40rem;
    }
    
    .wrapMap2{
        top: 112vh;
        right: 0;
        /* left: 0; */
        width: 177%;
        height: 8%;
    }

    /*============FOOTER==============*/

    footer{
        height: 22vh;
    }

    .wrapIconsSocialFooter{
        max-width: 70vw;
    }

    .wrapIconsSocialFooter a{
        margin-top: 2.9vh;
    }

    .tittleFooter{
        margin-top: 2.8vh;
        font-size: 1.2rem;
        max-width: 90%;
    }

}

@media screen and (min-width: 376px) and (max-width: 768px) {
    /*========SEÇÃO DE APRESENTAÇÃO========*/
    .apresentation{
        height: 100vh;
    }

    .navBar{
        text-align: left;
        display: block;
    }

    .myLinks{
        position: relative;
        right: 0;
        word-spacing: 4rem; /*ESPAÇO ENTRE AS PALAVRAS*/
    }

    #tiktokL{
        position: absolute;
        top: 37%;
        left: 35%;
        transform: translateY(-37%);
        width: 7rem;
    }
    
    .wrapTextApresentation{
        position: relative;
        top: 30%;
        font-size: 4.5rem;            /*ADAPTAR O TAMANHO DO TEXTO QUANDO FOR FAZER O RESPONSIVO*/
        max-width: 100%;
    }

    .wrapTextApresentation p{
        margin-top: 0;
        font-size: 3rem;
    }

    .btnHireMe{
        position: absolute;
        top: 90%;
        margin-top: 15%;
        font-size: 3rem;
        border-radius: 0.6rem;
        padding: 2.5%;
        cursor: pointer;
    }
        
    .person1{
        position: absolute;
        top: 85%;
        max-width: 100%;
    }
    
    .person1 img{
        width: 80%;
        
    }

    /*======HAMBURGUER MENU=====*/
    .heading a:nth-child(1) {
        display: none;    
    }

    .heading a i {
        display: none;
    }

    /*========ABOUT ME========*/
    .aboutMe{
        height: 140vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);    
    }


    .person2{
        position: relative;
        top: 29%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 65%;
    }
    
    #tiktokAboutMe{
        margin-top: 15%;
        width: 60vw;
    }
    
    .wrapTextAboutMe{
        top: 0;
        position: relative;
        max-width: 100%;
    }
    
    .wrapTextAboutMe p{
        font-size: 2.8rem;
        line-height: 4rem;
        text-align: justify;
    }

    .wrapTextAboutMe p:nth-of-type(2) {
        position: relative;
        top: 30vh;
    }
    
    .wrapIconsSocial{
        position: relative;
        top: 47vh;
        max-width: 100%;
    }
    
    .wrapIconsSocial a img{
        width: 6rem;
    }
    
    .btnDownloadCV{
        position: relative;
        top: 22vh;
        left: 1vh;
        padding: 5%;
        font-size: 4rem;
        max-width: 100%;
        cursor: pointer;
    }

    /*========WORKS=========*/
    .works{
        height: 105vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
        /* margin-bottom: 50%; */
    }
    
    .tiktokWorks{
        position: relative;
        width: 60vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .glide{
        top: -8%;
    }

    .glide__slide{
        width: 90vw;
        height: 80vh;
    }

    /*========SKILLS & EXPERIENCE=========*/
    .skillsExperience{
        height: 135vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
        margin-bottom: 5%;
    }
    
    .wrapTextSkillsExperience{
        position: relative;
        margin-top: 10%;
        top: 30%;
        transform: translateY(-50%);
        max-width: 100%;
    }
    
    .wrapTextSkillsExperience p{
        font-size: 2.8rem;
        line-height: 4rem;
        text-align: justify;
    }
    
    #tiktokSkillsExperience{
        width: 60vw;
        margin-top: 10%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .wrapIconsSkillsExperience{
        position: relative;
        top: -5%;
        right: 6%;
    }
    
    .wrapIconsSkillsExperience ul{
        display: flex;
        flex-flow: row wrap;
        width: 90vw;
    }
    
    .wrapIconsSkillsExperience ul li{
        margin: 2% 5%;
        margin-bottom: 5%;
    }

    .wrapIconsSkillsExperience ul li img{
        width: 6.5rem;
    }

    /*=======CONTACT ME=========*/
    .contactMe{
        height: 185vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
        margin-top: 5%;
    }
    
    #tiktokContact{
        width: 60vw;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .wrapFormContactMe p{
        width: 100%;
        text-align: justify;
        font-size: 2.8rem;
        margin-top: 28%;
        
    }
    
    .wrapFormContactMe form{
        top: 35vh;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .wrapFormContactMe form input[type=text], input[type=subject], input[type=email], textarea{   
        font-size: 2.8rem;
        padding: 6%;
    }
    
    .wrapFormContactMe form input[type=text]{
        width: 90vw;
        max-width: 90vw;
        margin-top: 5%;
    }
    
    .wrapFormContactMe form input[type=subject]{
        width: 90vw;
        max-width: 90vw;
        margin-top: 5%;
    }
    
    .wrapFormContactMe form input[type=email]{
        width: 90vw;
        max-width: 90vw;
        margin: 5% 0 0 0;
    }
    
    .wrapFormContactMe form textarea{
        width: 90vw;
        margin-top: 5%;
        height: 30vh;
    }
    
    
    .wrapFormContactMe form input[type=submit]{
        width: 90vw;
        left: 0;
        font-size: 4rem;
        padding: 3%;
        color: white;
        background-color: #20D5EC;
        border: 3px solid #1aa5b8;  
    }

    .gmap_canvas .mapouter{
        width: 70vw;
        height: 50rem;
    }

    .gmap_canvas iframe{
        border-radius: 1rem;
        width: 70vw;
        height: 50rem;
    }
    
    .wrapMap2{
        top: 130vh;
        right: 0;
        width: 105%;
        height: 8%;
    }

    /*============FOOTER==============*/

    footer{
        height: 20vh;
    }

    .wrapIconsSocialFooter{
        max-width: 100vw;
    }

    .wrapIconsSocialFooter a{
        margin-top: 3vh;
    }

    .wrapIconsSocialFooter a img{
        width: 5rem;
        height: 5rem;
    }

    .tittleFooter{
        margin-top: 2.8vh;
        font-size: 1.5rem;
        max-width: 100%;
    }

}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    /*========SEÇÃO DE APRESENTAÇÃO========*/
    .apresentation{
        height: 100vh;
    }

    .navBar{
        text-align: left;
        display: block;
    }

    .myLinks{
        position: relative;
        right: 0;
        word-spacing: 14rem;
    }

    #tiktokL{
        position: absolute;
        top: 37%;
        left: 35%;
        transform: translateY(-37%);
        width: 6.8rem;
    }

    .wrapTextApresentation{
        /* position: absolute; */
        font-size: 4.5rem;            /*ADAPTAR O TAMANHO DO TEXTO QUANDO FOR FAZER O RESPONSIVO*/
        max-width: 60%;
    }

    .wrapTextApresentation p{
        margin-top: 3%;
        font-size: 3rem;
    }

    .btnHireMe{
        position: absolute;
        top: 100%;
        margin-top: 15%;
        font-size: 3rem;
        border-radius: 0.6rem;
        padding: 2.5%;
        cursor: pointer;
    }
        

    /*======HAMBURGUER MENU=====*/
    .heading a:nth-child(1) {
        display: none;    
    }

    .heading a i {
        display: none;
    }

    /*========ABOUT ME========*/
    .aboutMe{
        height: 110vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);    
    }

    .wrapTextAboutMe p{
        text-align: justify;
    }

    .wrapIconsSocial{
        position: relative;
        max-width: 50%;
        display: flex;
        justify-content: space-around;
        padding-right: 2%;
    }
    
    .wrapIconsSocial a img{
        width: 5rem;
    }

    .btnDownloadCV{
        position: absolute;
        bottom: 0;
        margin-left: 2%;
        margin-bottom: 5%;
        padding: 2.1%;
        font-size: 2.9rem;
        max-width: 50%;
        cursor: pointer;
    }

    /*========WORKS=========*/
    .works{
        height: 70vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
    }

    .tiktokWorks{
        position: relative;
        width: 28vw;
        margin-top: 5%;
        left: 0;
        top: 0;
    }
  
    .glide{
        margin: 0;
        padding: 0;
        margin-top: -5%;
    }

    .glide__slide{
        width: 90vw;
        height: 50vh;
    }

    /*========SKILLS & EXPERIENCE=========*/
    .skillsExperience{
        height: 115vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
    }

    #tiktokSkillsExperience{
        margin-top: 0;
    }

    .wrapTextSkillsExperience p{
        max-width: 70%;
        text-align: justify;
    }

    .wrapIconsSkillsExperience{
        margin-top: 3%;
        max-width: 40%;
    }

    /*=======CONTACT ME=========*/
    .contactMe{
        height: 120vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
    }

    .wrapFormContactMe p{
        width: 60%;
        text-align: justify;
        font-size: 2.4rem;
        margin-top: 15%;
    }

    .wrapFormContactMe form{
        margin-top: 5%;
        left: 0;
    }
    
    .wrapFormContactMe form input[type=text], input[type=subject], input[type=email], textarea{   
        font-size: 2.2rem;
        padding: 3.5%;
    }
    
    .wrapFormContactMe form input[type=text]{
        width: 50%;
        max-width: 50%;
        margin-top: 2%;
    }
    
    .wrapFormContactMe form input[type=subject]{
        width: 50%;
        max-width: 50%;
        margin-top: 2%;
    }
    
    .wrapFormContactMe form input[type=email]{
        width: 50%;
        max-width: 50%;
        margin: 2% 0 0 0;
    }
    
    .wrapFormContactMe form textarea{
        width: 50%;
        margin-top: 2%;
        height: 30vh;
    }
    
    
    .wrapFormContactMe form input[type=submit]{
        width: 50%;
        left: 0;
        font-size: 2.6rem;
        padding: 2%;
        color: white;
        background-color: #20D5EC;
        border: 3px solid #1aa5b8;  
    }

    .gmap_canvas .mapouter{
        width: 45vw;
        bottom: 0;
        height: 50rem;
    }

    .gmap_canvas iframe{
        border-radius: 1rem;
        width: 45vw;
        bottom: 0;
    }
    
    .wrapMap2{
        top: 35vh;
        right: 0;
        width: 50%;
        height: 0;
    }

    
    

}

@media screen and (min-width: 1281px) and (max-width: 1920px) {
    /*========SEÇÃO DE APRESENTAÇÃO========*/
    .navBar{
        text-align: right;
        display: block;
    }

    .myLinks{
        position: relative;
        right: 0;
        word-spacing: 20rem;
    }

    #tiktokL{
        position: absolute;
        top: 49%;
        left: 29%;
        transform: translateY(-37%);
        width: 6.8rem;
    }

    .wrapTextApresentation{
        position: absolute;
        margin-top: -5%;
        font-size: 5rem;            /*ADAPTAR O TAMANHO DO TEXTO QUANDO FOR FAZER O RESPONSIVO*/
        max-width: 80%;
    }

    .wrapTextApresentation p{
        margin-top: 4%;
        font-size: 4rem;
    }

    .btnHireMe{
        position: absolute;
        top: 100%;
        margin-top: 15%;
        font-size: 3rem;
        border-radius: 0.6rem;
        padding: 2.5%;
        cursor: pointer;
    }

    .person1{
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        max-width: 40%;
    }
    
    .person1 img{
        max-width: 60rem;
    }
        

    /*======HAMBURGUER MENU=====*/
    .heading a:nth-child(1) {
        display: none;    
    }

    .heading a i {
        display: none;
    }

    /*========ABOUT ME========*/
    .aboutMe{
        height: 105vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);    
    }

    .wrapTextAboutMe p{
        text-align: justify;
    }

    #tiktokAboutMe{
        margin-top: 5%;
    }

    .wrapIconsSocial{
        position: relative;
        top: 0;
        max-width: 50%;
    }
    
    .wrapIconsSocial a img{
        width: 5rem;
    }
    
    .btnDownloadCV{
        position: absolute;
        bottom: 0;
        margin-left: 2%;
        margin-bottom: 6%;
        padding: 3%;
        font-size: 3rem;
        max-width: 50%;
        /* cursor: pointer; */
    }

    /*========WORKS=========*/
    .works{
        height: 100vh;
        margin-bottom: 5%;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
    }

    .tiktokWorks{
        position: relative;
        width: 28vw;
        margin-top: 10%;
        left: 0;
        top: 0;
    }
  
    .glide{
        margin: 0;
        padding: 0;
        margin-top: -5%;
    }

    /*========SKILLS & EXPERIENCE=========*/
    .skillsExperience{
        height: 110vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
    }

    #tiktokSkillsExperience{
        margin-top: -5%;
        margin-bottom: 2%;
    }

    .wrapTextSkillsExperience p{
        max-width: 70%;
        text-align: justify;
    }

    /*=======CONTACT ME=========*/
    .contactMe{
        height: 120vh;
        border-top: 6px solid rgba(100, 100, 100, 0.3);
    }

    .wrapFormContactMe p{
        width: 60%;
        text-align: justify;
        font-size: 2.2rem;
        margin-top: 15%;
    }

    .wrapFormContactMe form{
        margin-top: 5;
        left: 0;
    }
    
    .wrapFormContactMe form input[type=text], input[type=subject], input[type=email], textarea{   
        font-size: 2rem;
        padding: 3%;
    }
    
    .wrapFormContactMe form input[type=text]{
        width: 60%;
        max-width: 60%;
        margin-top: 2%;
    }
    
    .wrapFormContactMe form input[type=subject]{
        width: 60%;
        max-width: 60%;
        margin-top: 2%;
    }
    
    .wrapFormContactMe form input[type=email]{
        width: 60%;
        max-width: 60%;
        margin: 2% 0 0 0;
    }
    
    .wrapFormContactMe form textarea{
        width: 60%;
        margin-top: 2%;
        height: 30vh;
    }
    
    
    .wrapFormContactMe form input[type=submit]{
        width: 60%;
        left: 0;
        font-size: 2.2rem;
        padding: 2%;
        color: white;
        background-color: #20D5EC;
        border: 4px solid #1aa5b8;  
    }

    .gmap_canvas .mapouter{
        height: 50rem;
    }

    .gmap_canvas iframe{
        border-radius: 1rem;
    }
    
    .wrapMap2{
        top: 35vh;
        right: 0;
        width: 50%;
        height: 0;
    } 
    
}


